*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
    margin: 0 auto;
   
}
.navbar .logo img{
    width:  70px;
    margin-left: 50px;
}
.navbar .menu{
    margin-right: auto;
    margin-left: 50px;
}
.navbar .menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
 
}
.navbar .menu ul li a{
    text-decoration: none;
    color: #656161;
    cursor: pointer;

}
.navbar .button .btn{
    text-decoration: none;
    margin-right: 50px;
}
.btn{
    background: #5669FF;
    color: #fff;
    padding: 10px;
    border: none;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
/* hero section */
.hero{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100vh;
    
}
.hero .hero-text{
    margin-top: 40%;
    margin-left: 50px;
}
.hero-img{
    display: flex;
    position: relative;
}
.hero-img .img1{
    position: absolute;
    bottom: 0;
    right: 220px;
    width: 400px;
}
.hero-img .img2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
}
.hero-text h1{
    font-size: 70px;
    margin-bottom: 20px;

}
.highlights{
    color: #5669FF;
}
.hero-text p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #656161;
}
.hero-text .input{
    display: flex;
    align-items: center;
    justify-content: start;
}
.input{
    border: none;
   padding: 10px;
   margin-right: 10px;
   border-radius: 6px;
   height: 40px;
   background: transparent;
   color: #656161;
}
.hero-text .input a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.hero-text .input a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.hero-text .input .btn{
  width: 90px;
  height: 40px;
}
/* Services section */
.services-section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}
.services-section h1{
    font-size: 45px;
    margin: 30px 0;
}
.services-section p{
    font-size: 20px;
    color: #656161;
    
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    margin-top: 70px;
}
.service1{
    height:224px ;
    width: 370px;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #656161;
    border-radius: 10px;
}
.service1 img{
    margin-bottom: 10px;
}
.service1 h3{
    font-size: 23px;
}
.services-section .button{
    margin-top: 60px;
}
.services-section .button .btn{
    text-decoration: none;
    padding: 15px 40px;
}
/* app section */
.app-section{
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  
    
}
.circle {
    width: 500px;
    height: 500px;
    background: #5669FF;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}
.circle .img{
    position: absolute;
   bottom: 0;
    width: 550px;
    padding: 0;
    
}
.app-text{
    margin-top: 25% ;
}
.app-text h1{
    font-size: 45px;
    margin-bottom: 20px;

}
.app-text p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: #656161;

}
.app-text  .highlight{
    font-size: 14px;
   color: #5669FF;
   border-left: 2px solid #5669FF;
   padding-left: 20px;
   font-weight: 600;

}
  .highlight{
    font-size: 14px;
   color: #5669FF;
   border-left: 2px solid #5669FF;
   padding-left: 20px;
   font-weight: 600;

}
/* About Section */
.about-section{
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
   
}
.about-text{
    margin-left: 50px;
}
.about-text .highlight{
    margin-bottom: 20px;
}
.about-text h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.about-text .about-content {
    margin-top: 30px;
   
}
.about-text .about-content .head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.about-text .about-content .head img{
   width: 20px;
}
.about-text .about-content p{
   color: #656161;
   font-size: 20px;
}
.about-img {
    display: flex;
    align-items: center;
    position: relative;
}
.about-img .img11{
    width: 450px;
    position: absolute;
    z-index: 22;
}
.about-img .img12{
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.about-text .button {
    margin-top: 70px;
}
.about-text .button .btn {
    text-decoration: none;
    padding: 15px 50px;
}
/* Contact section */
.contact-section{
    text-align: center;
    height: 100vh;
}
.contact-section h1{
    font-size: 45px;
    border-bottom: 3px solid ;
    padding: 10px;
    line-height: 10px;
    display: inline;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 70px auto;
    gap: 30px;
    text-align: left;
}
.contact .from{
    margin-left: 150px;
}
.contact .from h3{
    color: #656161;
    margin-bottom: 20px;
    font-size: 26px;
}
.contact input{
    display: block;
    height: 40px;
    width:300px;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px;
    border: .5px solid #656161;
    
}
.contact #message{
    height: 90px;
    margin-bottom: 20px;
}
.contact .from .label{
    color: #656161;
}
.from .button{
    margin-top: 40px;
}
.from .btn{
   
    text-decoration: none;
    padding: 15px 135px;
    
}
.contact .info{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.contact .info p{
    color: #656161;
    font-size: 16px;
    margin-bottom: 20px;
}
.contact .info img{
    margin-top: 60px;
  
}
/* footer Section */
.footer-section{
    background: #5669FF;
}
.footer-section .footer{
    height: 400px;
    width: 100%;
    display: flex;
   
    align-items: center;
    
}
.footer-section .footer .left{
    margin-left: 200px;
    width: 30%;
}
.footer-section .footer .left img{
    width: 200px;
}
.footer-section .footer .left p{
   
    font-size: 18px;
    color: black;
}
.footer-section .footer .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    
    font-size: 16px;
    margin-left: 100px;

}
.footer-section .footer .right h1 {
    color: black;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;

}
.footer-section .copy{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    
    padding: 20px;
    align-items: center;
}
